/* .head {
    background-color: darkgrey;
    text-align: center;
    padding: 30px;
}

#input-display {
    background-image: url(/assets/images/bread_pastries_many_76629_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 400px;
} */